[submodule "phi_p3dx_aria"]
	path = phi_p3dx_aria
	url = https://github.com/claudiosouzabrito/phi_p3dx_aria.git
[submodule "phi_p3dx_description"]
	path = phi_p3dx_description
	url = https://github.com/claudiosouzabrito/phi_p3dx_description.git
[submodule "phi_p3dx_navigation"]
	path = phi_p3dx_navigation
	url = https://github.com/claudiosouzabrito/phi_p3dx_navigation.git
[submodule "phi_p3dx_planning"]
	path = phi_p3dx_planning
	url = https://github.com/claudiosouzabrito/phi_p3dx_planning.git
[submodule "phi_p3dx_mapping"]
	path = phi_p3dx_mapping
	url = git@github.com:claudiosouzabrito/phi_p3dx_mapping.git
[submodule "phi_p3dx_localization"]
	path = phi_p3dx_localization
	url = git@github.com:claudiosouzabrito/phi_p3dx_localization.git
